.navbar-brand,
.navbar-brand.navbar-brand_fs {
	font-size: 27px;
	font-family: 'Roboto', sans-serif;
}

.btn.bg-coral {
	color: white;
	background-color: coral;
}

.container {
	font-family: 'Roboto', sans-serif;
}